In [1]:
import pandas as pd
import os
import numpy as np

root = os.getcwd()
df = pd.read_csv(os.path.join(root, "dataset_cleaved_uncleaved.csv"), header = None)

# assuming these one-hot vectors are in order of printout ... there is no other way to make a guess
num_amino = 20
amino_order = "ACDEFGHIKLMNPQRSTVWY"

In [2]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,104
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-75.8827,-5.30558,0.487160,-15.20050,CLEAVED
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-75.9834,-2.44367,0.468855,-2.66250,CLEAVED
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-76.0522,-2.99582,0.411164,-2.80525,CLEAVED
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,-80.0525,-2.88745,0.009884,-1.44175,CLEAVED
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,-76.3756,-2.58024,0.406283,-2.32775,CLEAVED

In [3]:
# newdf is only the one hot vectors to ensure nothing we dont expect occurs

newdf = pd.DataFrame(np.zeros(shape = (len(df.iloc[:,0]), 100)))
for i in range(100):
    newdf.iloc[:,i] = df.iloc[:, i]
newdf.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# final_df will be a nice txt file with two columns: sequence, result

final_df = pd.DataFrame(np.zeros(shape = (len(df.iloc[:,0]), 2)))
for i in range(len(df.iloc[:,0])):
    res = df.iloc[i, 104] # cleaved or uncleaved
    seq = ""
    for j in range(5):
        one_hot = list(df.iloc[i,(20*j):(20*(j + 1))])
        index = one_hot.index(1)
        aa = amino_order[index]
        seq += aa
    final_df.iloc[i, 0] = seq
    final_df.iloc[i, 1] = res
final_df.columns = ["Sequence", "Result"]
final_df["Sequence"] = final_df["Sequence"].map(lambda x: "A{}C.ASHL".format(x))
final_df.head()

       Sequence   Result
0  AYYYEPC.ASHL  CLEAVED
1  AYYTTQC.ASHL  CLEAVED
2  AYYTIQC.ASHL  CLEAVED
3  AYYTHYC.ASHL  CLEAVED
4  AYYTHAC.ASHL  CLEAVED

In [5]:
final_df.to_csv("experimental_binary_classifications.txt", index = None, sep = "\t")

In [7]:
fh = open("HCV_sequences.txt", "w")
for el in final_df["Sequence"]:
    fh.write(el + "\n")
fh.close()